.central{
    display: flex;
    justify-content: center;
}
.textohistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
p{
    display: flex;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 100%;
    margin: 0px;
}
.txthistoria{
    width: 100%;
    font-size: 16px;
    height: 100%;
}
.blocohino{
    display: flex;
    padding: 0px 0px;
}
.logoen{
    width: 100%;
    height: 75%;
}
.mascote{
    width: 100%;
    height: 100%;
}
.tt{
    display: flex;
    align-items: center;
    width: 21%;
}
h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
}
h3{
    font-size: 40px;
}
@media(max-width: 580px){
    h1{
        font-size: 42px;
    }
    .mascote{
        height: 500px;
    }
    .logoen{
        height: 500px;
    }
    .textohistoria{
        height: 100%;
        margin: 0px;
    }
}