.carrosel{
    width: 100%;
    height: 780px;
}
.tt{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.ttt{
    width: 60%;
}

.seta{
    height: 550px;
    width: 10%;
    
}
.seta2{
    color: rgb(255,106,0);
    font-size: 55px;
    font-weight: 800;
}
.central{
    text-align: center;
    margin-top: 100px;
    font-family: "OpenSans", sans-serif;
    font-size: 68px;
    font-weight: 800;
    color: rgb(255,106,0) ;
}