.central{
    display: flex;
    justify-content: center;
}
.BlocoCompeticao{
    display: flex;
    justify-content: center;
    
}
.ConteudoCompeticao{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 4px solid rgb(251, 106, 0);
    margin: 20px 0px;
}
.ImgCompeticao{
    width: 90%;
    margin: auto;
}
.redirecionador{
    width: 90%;
    height: 250px;
    margin: 20px 33.47px;
    display: flex;
}
.imgestadio{
    width: 50%;
}
.redirecionador2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.rival{
    height: 50px;
    margin: auto;
}
@media(max-width: 580px){
    .ConteudoCompeticao{
        width: 85%;
    }
    .redirecionador{
        height: 125px;
        margin: 20px 17.875px;
    }
    p{
        margin: 0px;
    }
    .rival{
       height: 25px ; 
    }
}