.navbar-expand-sm{
    background-color: rgb(64, 0, 212);
    justify-content: unset;
}
.ImagemLogo{
    width: 100%;
    height: 100%;
}
.tt{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}
.Navbar{
    justify-items: end;
}