.central{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 30px;
}
.TxtSobre{
    display: flex;
    flex-direction: column;
   
}
.textoS{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 30px;
}
.Imagem{
    width: 60%;
}
.IconesLogo{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
}
.Icones{
    width: 100%;
    height: 50px;
}
.Imagem:hover{
    transform: scale(1.4);
}
.Icones:hover{
    transform: scale(1.4) rotate(360deg);
    transition: 1200ms ease-in-out;
}
a{
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (max-width: 580px){
    h1{
        font-size: 20px;
    }
    #r{
        flex-direction: column;
    }
    #im{
        align-items: center !important;
    }
    .textoS{
        font-size: 20px;
    }
    .ImagemSobre{
        display: flex;
        justify-content: center;
    }
    
    .IconesLogo{
        justify-content: center;
    }
    .s{
        margin: 0px 20px;
    }
}