.central{
    display: flex;
    justify-content: center;
}

.ImagensToca{
    padding: 0px;
    display: flex;
    justify-content: center;
}
.Imagens{
    margin: 50px;
    height: 340px;
}
.centraltxt{
    display: flex;
    flex-direction: column;
}

#T1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: bolder;
}
.St{
    width: 75%;
    font-size: 40px;
    font-weight: bold;
    text-align: start;
    margin: auto;
    margin: 20px 167.96px;
}
.Tn{
    width: 75%;
    font-size: 20px;
    text-align: start;
    margin: 20px 167.96px;
}
@media (max-width: 580px){
    #T1{
        font-size: 32px ;
    }
    .ImagensToca{
        flex-direction: column;
    }
    .Imagens{
        width: 75%;
        height: 275px;
        margin: auto;
        margin: 50px 53.750px;
    }
    .St{
        margin: 20px 53.75px
    }
    .Tn{
        margin: 20px 53.75px;
    }
}