.central{
    display: flex;
    justify-content: center;
    padding: 0px;
}
p{
    margin: 0px;
}
.botoeatalho{
    display: flex;
    justify-content: center;
    width: 80%;
}
button{
    margin: 10px 15px;
    padding: 0px;
}
.jogadores{
    width: 100%;
    height: 90%;
}
.cardjogador{
    width: 15%;
    height: 312px;
    margin: 30px 40px;
    text-align: center;
}
h1{
    margin: 50px;
    font-weight: 900;
}

.botao{
    border-radius: 10px;
    width: 190px;

    border: 0px;
    color: black;
    font-weight: 900;
}
@media(max-width: 580px){
    h1{
        margin: auto;
        font-size: 35px;
        text-align: center;
    }
    .botao{
        width: 100%;
        margin: 0px;
    }
    a{
        width: 20%;
    }
    .name{
        font-size: 10px;
    }
    .link{
        padding: 10px;
    }
    .tt{
        width: 100%;
    }
    .cardjogador{
        width: 25%;
        height: 140px;
        margin: 10px 15px;
    }
    .jogadores{
        height: 66%;
    }
}
